<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/bs/assets/ico/favicon.png">

    <title>Mixer Mockup</title>

    <!-- Bootstrap core CSS -->
    <link href="/bs/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/bs/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mixer</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container-fluid">
      <div class="col-sm-8">
        <div class="page-header">
          <h1>Streams</h1>
        </div>
        {% for stream in streams %}
        <div class="col-sm-4">
          {% if stream.active == 1 %}
        	<div class="panel panel-success">
          {% else %}
          <div class="panel panel-warning">
          {% endif %}
            <div class="panel-heading">
    			    <h3 class="panel-title">Stream {{stream.id}}</h3>
  					</div>
  				  <div class="panel-body">
    				  <table class="table table-condensed">
      				  <tbody>
        				  <tr>
          				  <td><strong>Original Size</strong></td>
          				  <td>{{stream.orig_width}}x{{stream.orig_height}}</td>
        				  </tr>
        				  <tr>
          				  <td><strong>Current Size</strong></td>
          				  <td>{{stream.width}}x{{stream.height}}</td>
        				  </tr>
        				  <tr>
          				  <td><strong>Position</strong></td>
          				  <td>{{stream.x}}x{{stream.y}}</td>
        				  </tr>
        				  <tr>
          				  <td><strong>Layer</strong></td>
          	  			<td>{{stream.layer}}</td>
        					</tr>
      					</tbody>
    					</table>
    					<div>
                <form action="/app/streams/{{ stream.id }}/remove" method="post">
      				    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                </form>
                {% if stream.active == 1 %}
                <form action="/app/streams/{{ stream.id }}/disable" method="post">
                  <button type="submit" class="btn pull-right btn-warning btn-sm">Disable</button>
                </form>
                {% else %}
                <form action="/app/streams/{{ stream.id }}/enable" method="post">
                  <button type="submit" class="btn pull-right btn-success btn-sm">Enable</button>
                </form>
                {% endif %}
    					</div>
  					</div>
					</div>
        </div>
        {% endfor %}
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">New Stream</h3>
              </div>
              <div class="panel-body">

                <form class="form" role="form" action="/app/streams/add" method="post">
                  <div class="form-group">
                    <label for="width">Original Width</label>
                    <input type="number" class="form-control input-sm" name="width" id="width" placeholder="Original Width">
                  </div>
                  <div class="form-group">
                    <label for="height">Original Height</label>
                    <input type="number" class="form-control input-sm" name="height" id="height" placeholder="Original Height">
                  </div>
                  <button type="submit" class="btn btn-primary btn-sm">Add</button>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
          <!-- Default panel contents -->
          <div class="page-header">
            <h1>Destinations</h1>
          </div>
        <div class="panel panel-default">
  				<div class="panel-heading">Current Destinations</div>
  				<div class="panel-body">
    				<!-- Table -->
    				<table class="table table-hover">
      				<tr>
        				<th>ID</th>
        				<th>IP</th>
        				<th>Port</th>
        				<th></th>
      				</tr>
              {% for dest in destinations %}
      				<tr>
        				<td>{{dest.id}}</td>
        				<td>{{dest.ip}}</td>
        				<td>{{dest.port}}</td>
        				<td>
                  <form class="form" role="form" action="/app/destinations/{{dest.id}}/remove" method="post">
          				  <button type="submit" class="btn btn-danger btn-xs">Remove</button>
                  </form>
        				</td>
      				</tr>
      				{% endfor %}
    				</table>
    				<form class="form-inline" role="form" action="/app/destinations/add" method="post">
      				<div class="form-group col-lg-6">
        				<label class="sr-only" for="ip">IP</label>
        				<input type="text" class="form-control input-sm" name="ip" id="ip" placeholder="IP">
      				</div>
      				<div class="form-group col-lg-3">
        				<label class="sr-only" for="port">Port</label>
        				<input type="number" class="form-control input-sm" name="port" id="port" placeholder="Port">
      				</div>
      				<button type="submit" class="btn btn-primary btn-sm">Add</button>
    				</form>
  				</div>
				</div>
      </div>
      
      <div class="col-sm-4">
        <div class="page-header">
          <h1>Grids</h1>
        </div>
        <div class="panel panel-default container">
          <div class="panel-body">

            <div class="row btn-group" data-toggle="buttons">
            {% for i in (1..6) %}
              <label class="btn btn-default {% if i == grid %}active{% endif %}" onclick="set_grid({{i}})">
                <input type="radio" name="options" id="option1">
                <img  src="image/{{i}}.jpeg" alt="grid-{{i}}" class="img-rounded" width="80" height="80">
              </label>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bs/assets/js/jquery.js"></script>
    <script src="/bs/dist/js/bootstrap.min.js"></script>
    <script src="/bs/assets/js/holder.js"></script>
    <script type="text/javascript">
      function set_grid(id){
        // $.post("/app/grid", { id: id });
        $.ajax({
          type: 'POST',
          url: "/app/grid",
          data: "id=" + id,
          async:false
        });
        location.reload();
      }
    </script>
  </body>
</html>

